@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

$color-primary: #A81FD1;
$color-secondary: #FFE7AB;

$font-main: 'Poppins', sans-serif;
$font-title: 'Poppins', sans-serif;

$font-size-title: 40px;